<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    <h1 class="flex items-center text-5xl font-extrabold dark:text-white">Posts list</h1>
    {% for post in object_list %}
    <h2 class="text-4xl font-extrabold dark:text-white">{{post.title}}</h2>
    <p class="my-4 text-lg text-gray-500">{{post.excerpt}}</p>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Author: {{post.author}}</p>
    {% endfor %}
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>
