{% extends '_base.html' %} {% block content %} {% load static %}
<article class="prose prose-xl max-w-none mx-auto prose-img:m-0 h-full overflow-auto">
  <div class="masthead bg-masthead-bg shadow-xl shadow-indigo-600/5 rounded-xl min-h-[400px]">
    <div class="container mx-auto pl-4 sm:pl-6 lg:pl-8 rounded-xl h-full">
      <div class="flex flex-col md:flex-row items-stretch gap-0 h-full">
        <div class="w-full md:w-1/2 masthead-text space-y-3 py-8">
          <h1
            class="text-6xl md:text-5xl font-bold tracking-tight post-title bg-gradient-to-b from-slate-700 to-slate-900 bg-clip-text text-transparent hover:from-slate-800 hover:to-black transition-colors duration-300 ease-in-out"
          >
            {{ post.title }}
          </h1>
          <p class="post-subtitle flex items-center space-x-2 text-slate-500">
            <span class="font-medium text-slate-50-300">{{ post.author }}</span>
            <span class="text-slate-900/50">|</span>
            <time class="text-slate-900/75">{{ post.created_on }}</time>
          </p>
        </div>
        <div class="w-full md:w-1/2 masthead-image">
          <img
            src="{% static 'src/images/default.jpg' %}"
            class="w-full h-full object-cover rounded-lg shadow-lg transform hover:scale-102 transition-transform duration-200"
            alt="Featured image for {{ post.title }}"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow p-6">
      <div class="prose prose-lg max-w-none">{{ post.content | safe }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ andrea.updated_on }}</em></p>
    </div>
  </div>
</article>

{% endblock content %}
